{:repository/name "kyosai"
 :repository/category :actor
 :repository/canonical-format :edn
 :repository/canonical-metadata "manifest.edn"
 :repository/canonical-identity "identity.edn"
 :repository/source-roots ["src"]
 :repository/test-roots ["test"]}
